extends ../base
include ../mixins/video

block content 
    div.avatar__container
        if loggedInUser.socialOnly 
            img(src=loggedInUser.avatarUrl).avatar-bic 
        else 
            img(src="/" + loggedInUser.avatarUrl).avatar-bic
block videos
    div.video-grid
        each video in user.videos
            +video(video)
        else 
            li Sorry nothing found.
